html,
body {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body:before {
  width: 100%;
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/main.jpg) center center/cover no-repeat;
}

/*
 *
 * Common
 * 
 */

.container {
  padding: 5px 15px 0px 15px !important;
  min-height: 100%;
  color: #fff;
}

/*
 *
 * Logo
 * 
 */

.logo {
  width: 70px;
  height: 70px;
}

/*
 *
 * Profile
 * 
 */

.profile-img {
  border-radius: 50%;
}

.sub-heading {
  font-style: italic;
  color: #ccc;
}

/*
 *
 * Profile
 * 
 */

.project-card {
  float: left;
  margin: 2% 0 1% 0%;
  display: block;
}
.project-info {
  width: 100%;
  position: relative;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 1;
  transition: 0.5s opacity;
  margin: auto;
}

.green {
  background-color: #739f4a;
}
.blue {
  background-color: #044b65;
}
.yellow {
  background-color: #e6a74a;
}

.project-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  border-bottom: 5px;
  transition: 0.5s padding;
  opacity: 0.8;
}
.link,
.link:hover {
  color: white;
}
.project-info:hover {
  opacity: 0.8;
  background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.project-info:hover .project-body {
  display: block;
  opacity: 0.9;
  padding-bottom: 10%;
}
.project-title {
  font-size: 1.25rem;
  font-weight: 600;
}

/*
 *
 * Footer
 * 
 */

.page-footer{
 text-align: center;
 width: 100%;
 left: 0;
 bottom: 0;
}
.footer-copyright {
  color: white;
  background-color: #212529;
  font-size: 14px;
}